<% include layout/header %>
<h1>Albums</h1>
<ul>
  <% albumsSorted.forEach(function(albumsSorted) {%>
  <%- include('./albums/list_item.ejs', {albumsSorted: albumsSorted}); %>
  <% }); %>
</ul>
<% include layout/footer %>
