<% include layout/header %>
<h1>Albums</h1>
<% for (var i = 0; i < albumsSorted.length; i++) {%>
	<li><%- link_to(albumsSorted[i].title, "albums/" + albumsSorted[i].id) %></li>
<% } %>
<% include layout/footer %>
