<% include layout/header %>
  <h1>Artists</h1>
  <% artistsSorted.forEach(function(artistsSorted) {%>
    <%- include('./artists/list_item.ejs', {artistsSorted: artistsSorted}); %>
    <% }); %>
<% include layout/footer %>
