<% include layout/header %>
  <h1>Songs</h1>
  <ul>
  <% songsSorted.forEach(function(songsSorted) {%>
    <%- include('./songs/list_item.ejs', {songsSorted: songsSorted}); %>
    <% }); %>
  </ul>
<% include layout/footer %>
