img {
  min-width: 10em;
  min-height: 10em;
  background-color: white;
}

li {
  list-style-type: none;
}

button, .btn-lg {
  font-family: Impact, Charcoal, sans-serif;
  font-family: impact;
  color: white;
  text-shadow: 3px 3px 15px white;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 1);
  position: relative;
  background-color: #222;
}

.artist {
  font-family: sans-serif;
  font-size: 20px;
}

.album {
  font-family: sans-serif;
  font-size: 20px;
}

.genre {
  font-family: sans-serif;
  font-size: 15px;
}

.song {
  justify-content: space-around;
  border-style: inset;
}
