<li>
  <%- link_to(albumsSorted.title, "albums/" + albumsSorted.id) %>
</li>
<div class="item row">
  <div class="column">
    <div class="row">
      <p>Artist:
        <%= artistsSorted.name %>
      </p>
    </div>
  </div>
</div>
