<!DOCTYPE html>
<html>
<head>
  <link href="/css/index.css" rel="stylesheet">
</head>
<body>
  <div class="col-md-4 fixed-menu">
    <button class="btn section-btn"> <a href="#home"> Artist </a> </button>
    <button class="btn section-btn"> <a href=#album> Album </a> </button>
    <button class="section-btn btn"> <a href="#song"> Song </a> </button>
  </div>
<hr>
